<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- <base href="/"> -->

    <title>{{title}}</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Template Basic Images Start -->
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="icon" href="path/to/image">
    <link rel="apple-touch-icon" sizes="180x180" href="path/to/image">
    <!-- Template Basic Images End -->

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='/libs/normalize-css/normalize.css'/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/libs/owl.carousel/dist/assets/owl.carousel.min.css"/>

    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
<div class="main">
    <div class="background-layer first h-100 w-100"></div>
    <div class="background-layer second h-100 w-100"></div>
    <div class="background-layer third h-100 w-100"></div>

    <div class="overlay h-100 w-100">
        <div class="container h-100">
            <nav class="navbar navbar-expand-md navbar-light py-5">
                <a class="navbar-brand" href="#"><img class="main__navbar-icon" src="/images/icons/logo-2.png" alt=""></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse d-md-flex align-items-md-center justify-content-md-between" id="navbarText">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link text-white main__navbar-title ml-5" href="#">
                                Расписание на май
                                <div class="main__navbar-title-underline"></div>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white main__navbar-title ml-5" href="#">
                                Летний интенсив
                                <div class="main__navbar-title-underline"></div>
                            </a>
                        </li>
                    </ul>

                    <ul class="navbar-nav d-block d-md-flex align-items-md-center">
                        <li class="nav-item d-block d-md-flex flex-md-column pr-5">
                            <a class="nav-link text-white main__navbar-subtitle p-0" href="tel:+77273900505"><span>8-727-390-05-05</span></a>
                            <a class="nav-link text-white main__navbar-subtitle p-0 mr-5" href="tel:+77273900505"><span>8-727-390-05-05</span></a>
                        </li>

                        <li class="nav-item d-block d-md-flex pl-5">
                            <a class="nav-link text-white main__navbar-title" href="#"><img class="main__navbar-image mr-3" src="/images/icons/facebook.png" alt="Facebook"></a>
                            <a class="nav-link text-white main__navbar-title" href="#"><img class="main__navbar-image" src="/images/icons/vk.png" alt="VKontakte"></a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="main__text d-flex flex-column align-items-center justify-content-center text-center">
                <div class="d-flex flex-column text-white m-0 p-0">
                    <h3 class="main__text-title m-0 p-0">Курсы подготовки к</h3>
                    <p class="main__text-subtitle m-0 p-0 mt-3">РФМШ</p>
                </div>

                <div class="main__text-line"></div>

                <h3 class="main__text-text text-white m-0 p-0">
                    Записаться на бесплатный урок
                </h3>

                <a href="#">
                    <div class="btn btn-primary main__text-button border-0 p-2 px-5 mt-4">
                        <p class="main__text-button-text m-0 p-0 pb-2 px-5">Записаться</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="timeline">
    <span class="timeline-background text-uppercase">
        Наши преимущества
    </span>

    <div class="container">
        <h3 class="timeline-header text-center m-0 p-0">
            Почему мы?
        </h3>

        <div class="row mt-3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-6 col-xs-12 timeline-item start">
                        <div class="d-flex flex-column justify-content-center text-center">
                            <h3 class="m-0 p-0">
                                Академия наук GKB.
                            </h3>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12 timeline-item">
                        <div class="d-flex flex-column justify-content-center text-center">
                            <h3 class="m-0 p-0">
                                <span>Самый сильный</span> тренерский состав <span>в стране</span>
                            </h3>

                            <p class="m-0 p-0 mt-4">
                                Нашими тренерами завоевано <span>более 150 медалей</span> самых престижных международных олимпиад. Ни в одном учебном центре неи такой <span>концентрации олимпийских звезд!</span>
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12 timeline-item">
                        <div class="d-flex flex-column justify-content-center text-center">
                            <h3 class="m-0 p-0">
                                Нам <span>доверяют лучшие!</span>
                            </h3>

                            <p class="m-0 p-0 mt-4">
                                Самые сильные физико-математические школы страны -  <span>РФМШ НИШ ФМН 165 технический лицей БИЛ (Аксай КТЛ) 90 лицей </span> готовяться к олимпиаде с <span>НАШИМИ ТРЕНЕРАМИ</span>.
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12 timeline-item">
                        <div class="d-flex flex-column justify-content-center text-center">
                            <h3 class="m-0 p-0">
                                <span>80%</span> наших детей
                            </h3>

                            <p class="m-0 p-0 mt-4">
                                Успешно справились с вступительными тестами <span>в НИШ</span>.
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12 timeline-item">
                        <div class="d-flex flex-column justify-content-center text-center">
                            <h3 class="m-0 p-0">
                                Учим ребенка <span>мыслить нестандартно</span>
                            </h3>

                            <p class="m-0 p-0 mt-4">
                                Применяя на занятиях <span>ТРИЗ (Теорию Решения Изобретательных Задач)</span>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="request">
    <span class="request-background text-uppercase">
        Попробуйте
    </span>

    <div class="container">
        <h3 class="request__text-title text-white text-center">Запишитесь на бесплатный пробный урок</h3>
        <p class="request__text-subtitle text-center">Научим легко учиться!</p>

        <div class="request-container text-center m-auto">
            <form method="post" id="myform">
                <div class="form-group mt-5 d-flex flex-column flex-sm-row justify-content-center">
                    <input type="text" name="contactName" class="request__form-input border-0 p-3 mr-3" placeholder="Имя" required="" autocomplete="off">
                    <input type="phone" name="contactPhone" class="request__form-input border-0 p-3 mr-3 mt-4 mt-sm-0" placeholder="Номер" required="" autocomplete="off" max="11">
                    <input type="submit" class="btn request__form-submit border-0 p-3 px-5 text-white mt-4 mt-sm-0" value="Оставить заявку">
                </div>
            </form>
        </div>
    </div>

</div>

<div class="be-ready">
     <span class="be-ready__background-text text-uppercase">
        Готовьтесь
    </span>

    <img src="/images/icons/Untitled.png" alt="" class="be-ready__background-image">

    <div class="container h-100 d-flex flex-column justify-content-around">
        <div class="row">
            <div class="col-md-7">
                <div class="be-ready__block">
                    <h3 class="be-ready__block-title m-0">
                        Готовься только с лучшими тренерами которые научат:
                    </h3>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="d-flex align-items-center">
                                <img class="be-ready__block-image" src="/images/icons/strategy-2.png" alt="">

                                <p class="be-ready__block-subtitle m-0 p-0 ml-4">
                                    Стратегии и тактики к подготовки к экзамену
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="d-flex align-items-center mt-5">
                                <img class="be-ready__block-image" src="/images/icons/idea.png" alt="">

                                <p class="be-ready__block-subtitle m-0 p-0 ml-4">
                                    Мыслить<br>нестандартно
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="d-flex align-items-center mt-5">
                                <img class="be-ready__block-image" src="/images/icons/strategy.png" alt="">

                                <p class="be-ready__block-subtitle m-0 p-0 ml-4">
                                    Решать задачи нестандартным путем
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="be-ready__motivation mt-5 mt-md-0 d-flex flex-column">
                    <h3 class="first m-0 p-0 mt-5 mt-md-0 ml-md-5">
                        Более
                    </h3>

                    <p class="second m-0 p-0">150</p>

                    <h3 class="third m-0 p-0 ml-md-4 mt-2">
                        МЕДАЛЕЙ
                    </h3>
                </div>
            </div>
        </div>

        <div class="be-ready__bottom mt-5">
            <div class="d-flex flex-column flex-md-row mb-5">
                <p class="be-ready__bottom-text m-0 p-0">
                    Снимаем страх
                </p>
                <p class="be-ready__bottom-text m-0 p-0 ml-md-3">
                    перед экзаменами ;)</p>
            </div>

            <p class="be-ready__bottom-name mt-5 d-none d-sm-block">
                Хаджимуратов Нурсултан<br>Главный тренер Академии GKB
            </p>
        </div>
    </div>
</div>

<div class="comments">
    <span class="comments-background text-uppercase">
        Достигайте
    </span>

    <div class="container">
        <h2 class="text-center text-uppercase">
            Наша
            <span>Команда</span>
        </h2>

        <div class="row teacher owl-carousel owl-theme owl-loaded owl-drag">
            <div class="col-md-12 row">
                <div class="col-md-4 p-2">
                    <div class="item five">
                        <div class="main-circle d-flex align-items-center justify-content-center">
                            <h4 class="text-white">
                                Бирибаева
                                <br>Нурбану
                                <br>Жунусовна
                            </h4>
                        </div>

                        <img src="/images/teachers/nurbanu.jpg" alt="">

                        <div class="small-circle"></div>

                        <div class="mid-circle"></div>
                    </div>
                </div>

                <div class="col-md-8 p-2 ">
                    <div class="info-details d-flex flex-column justify-content-center">
                        <p class="text-white">
                            Кандидат педагогических наук, профессор педагогики, автор более 80 научно-методических пособий и публикаций по внедрению инновационных педагогических технологий в образовательный процесс. Известный в стране и за рубежом специалист в области индивидуально-дифференцированного обучения и функциональной грамотности. Руководитель творческой группы “ТРИЗ-технология: поиск сильных решений”
                        </p>

                        <h3></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="col-md-4 p-2">
                    <div class="item five">
                        <div class="main-circle d-flex align-items-center justify-content-center">
                            <h4 class="text-white">
                                Иманбердиева
                                <br>Медина
                            </h4>
                        </div>

                        <img src="/images/teachers/medina.jpeg" alt="">

                        <div class="small-circle"></div>

                        <div class="mid-circle"></div>
                    </div>
                </div>

                <div class="col-md-8 p-2 ">
                    <div class="info-details d-flex flex-column justify-content-center">
                        <p class="text-white">
                            Призер городской олимпиады по математике, <br>обладатель знака "Алтын белгі".
                        </p>

                        <h3></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="col-md-4 p-2">
                    <div class="item five">
                        <div class="main-circle d-flex align-items-center justify-content-center">
                            <h4 class="text-white">
                                Омарова
                                <br>Гульжан
                            </h4>
                        </div>

                        <img src="/images/teachers/gulzhan.jpeg" alt="">

                        <div class="small-circle"></div>

                        <div class="mid-circle"></div>
                    </div>
                </div>

                <div class="col-md-8 p-2 ">
                    <div class="info-details d-flex flex-column justify-content-center">
                        <p class="text-white">
                            Руководитель проекта
                        </p>

                        <h3></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="col-md-4 p-2">
                    <div class="item five">
                        <div class="main-circle d-flex align-items-center justify-content-center">
                            <h4 class="text-white">
                                Машенкова
                                <br>Альбина
                            </h4>
                        </div>

                        <img src="/images/teachers/albina.jpg" alt="">

                        <div class="small-circle"></div>

                        <div class="mid-circle"></div>
                    </div>
                </div>

                <div class="col-md-8 p-2 ">
                    <div class="info-details d-flex flex-column justify-content-center">
                        <p class="text-white">
                            Победитель городской олимпиады по математике (2011 -2012), призер фестиваля научных проектов (2012),обладатель знака "Алтын белгі"
                        </p>

                        <h3></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="col-md-4 p-2">
                    <div class="item five">
                        <div class="main-circle d-flex align-items-center justify-content-center">
                            <h4 class="text-white">
                                Тлеболдинов
                                <br>Галымжан
                            </h4>
                        </div>

                        <img src="/images/teachers/galymzhan.jpeg" alt="">

                        <div class="small-circle"></div>

                        <div class="mid-circle"></div>
                    </div>
                </div>

                <div class="col-md-8 p-2 ">
                    <div class="info-details d-flex flex-column justify-content-center">
                        <p class="text-white">
                            Призер республиканской олимпиады по биологии (2009), обладатель золотой медали Международной научно-технической ярмарки “MOSTRATEC” (Бразилия,2009 ), Международной ярмарки проектов в сфере Энергетики, Инженерии, и Экологии ( С.Ш.А, 2008), международной Президентской стипендии “Болашак”. Прошел практику в лаборатории Роджера Четелата (Калифорнийский университет, 2015-2016).
                        </p>

                        <h3></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="col-md-4 p-2">
                    <div class="item five">
                        <div class="main-circle d-flex align-items-center justify-content-center">
                            <h4 class="text-white">
                                Александр
                                <br>Шакиев
                            </h4>
                        </div>

                        <img src="/images/teachers/aleksandr.jpeg" alt="">

                        <div class="small-circle"></div>

                        <div class="mid-circle"></div>
                    </div>
                </div>

                <div class="col-md-8 p-2 ">
                    <div class="info-details d-flex flex-column justify-content-center">
                        <p class="text-white">
                            Обладатель бронозовой медали Международной Математической Олимпиады(International Mathemaics Olympiad(Тайланд,2015)), бронозовая медаль Азиатской Тихоокеанской математической олимпиды, серебряной медали Юниорской Балканской олимпиады
                        </p>

                        <h3></h3>
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="col-md-4 p-2">
                    <div class="item five">
                        <div class="main-circle d-flex align-items-center justify-content-center">
                            <h4 class="text-white">
                                Хаджимуратов
                                <br>Нурсултан
                            </h4>
                        </div>

                        <img src="/images/teachers/nursultan.jpeg" alt="">

                        <div class="small-circle"></div>

                        <div class="mid-circle"></div>
                    </div>
                </div>

                <div class="col-md-8 p-2 ">
                    <div class="info-details d-flex flex-column justify-content-center">
                        <p class="text-white">
                            Обладатель золотой медали самых престижных математических соревнований Международной Математической Олимпиады - International Mathematical Olympiad (Казахстан, 2010), серебряных медалей (Германия,2009), (Испания,2008), золотой медали Балканской математической олимпиады (Молдова,2010), серебряной и бронзовых медалей (Сербия,2009, Македония, 2008), серебряных медалей Международной Жаутыковской Олимпиады (2008,2009,2010), Западно-Китайской Математической Олимпиады (золотая медаль, 2009; серебряная,2008; бронзовая,2007). Абсолютный победитель Республиканской олимпиады по математике (Актау,2009), (Кызылорда,2010).
                        </p>

                        <h3></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="board">
    <div class="container">
        <h3 class="board-title m-0 text-center">
            Расписание на май
        </h3>

        <div class="container">
            <div class="row">
                <div class="right-part col-md-6 p-5">
                    <h4 class="board-block__title m-0 p-0">
                        Казахское отделение
                    </h4>

                    <div class="d-flex flex-column mt-5">
                        <p class="board-block__subtitle m-0 p-0">
                            Начало
                        </p>

                        <ul>
                            <li>
                                1 Мая 2018
                            </li>
                        </ul>

                        <div class="d-flex flex-column">
                            <p class="board-block__subtitle m-0 p-0">
                                Период
                            </p>

                            <ul>
                                <li>
                                    Месяц
                                </li>
                            </ul>
                        </div>

                        <div class="d-flex flex-column">
                            <p class="board-block__subtitle m-0 p-0">
                                Группы
                            </p>

                            <ul>
                                <li>
                                    4-5 Человек
                                </li>
                            </ul>
                        </div>

                        <div class="d-flex flex-column">
                            <p class="board-block__subtitle m-0 p-0">
                                Расписание
                            </p>

                            <ul>
                                <li>
                                    Понедельник - 14:00 - 16:00
                                </li>

                                <li>
                                    Понедельник - 14:00 - 16:00
                                </li>

                                <li>
                                    Понедельник - 14:00 - 16:00
                                </li>

                                <li>
                                    Понедельник - 14:00 - 16:00
                                </li>

                                <li>
                                    Понедельник - 14:00 - 16:00
                                </li>

                                <li>
                                    Понедельник - 14:00 - 16:00
                                </li>

                                <li>
                                    Понедельник - 14:00 - 16:00
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="left-part active col-md-6 p-5 mb-5 mb-md-0">
                    <h4 class="board-block__title m-0 p-0">
                        Русское отделение
                    </h4>

                    <div class="d-flex flex-column mt-5">
                        <p class="board-block__subtitle m-0 p-0">
                            Начало
                        </p>

                        <ul>
                            <li class="board-block__text m-0 p-0">
                                1 Мая 2018
                            </li>
                        </ul>
                    </div>

                    <div class="d-flex flex-column">
                        <p class="board-block__subtitle m-0 p-0">
                            Период
                        </p>

                        <ul>
                            <li class="board-block__text m-0 p-0">
                                Месяц
                            </li>
                        </ul>
                    </div>

                    <div class="d-flex flex-column">
                        <p class="board-block__subtitle m-0 p-0">
                            Группы
                        </p>

                        <ul>
                            <li class="board-block__text m-0 p-0">
                                4-5 Человек
                            </li>
                        </ul>
                    </div>

                    <div class="d-flex flex-column">
                        <p class="board-block__subtitle m-0 p-0">
                            Расписание
                        </p>

                        <ul>
                            <li class="board-block__text m-0 p-0">
                                Понедельник - 14:00 - 16:00
                            </li>

                            <li class="board-block__text m-0 p-0">
                                Понедельник - 14:00 - 16:00
                            </li>

                            <li class="board-block__text m-0 p-0">
                                Понедельник - 14:00 - 16:00
                            </li>

                            <li class="board-block__text m-0 p-0">
                                Понедельник - 14:00 - 16:00
                            </li>

                            <li class="board-block__text m-0 p-0">
                                Понедельник - 14:00 - 16:00
                            </li>

                            <li class="board-block__text m-0 p-0">
                                Понедельник - 14:00 - 16:00
                            </li>

                            <li class="board-block__text m-0 p-0">
                                Понедельник - 14:00 - 16:00
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="board-2">
    <div class="container">
        <h3 class="board-title m-0 text-center">
            Летний интенсив
        </h3>

        <div class="container">
            <div class="row">
                <div class="right-part col-md-6 p-5 mb-5 mb-md-0">
                    <h4 class="board-block__title m-0 p-0">
                        Казахское отделение
                    </h4>

                    <div class="d-flex flex-column mt-5">
                        <p class="board-block__subtitle m-0 p-0">
                            Начало
                        </p>

                        <ul>
                            <li>
                                1 Мая 2018
                            </li>
                        </ul>

                        <div class="d-flex flex-column">
                            <p class="board-block__subtitle m-0 p-0">
                                Период
                            </p>

                            <ul>
                                <li>
                                    Месяц
                                </li>
                            </ul>
                        </div>

                        <div class="d-flex flex-column">
                            <p class="board-block__subtitle m-0 p-0">
                                Группы
                            </p>

                            <ul>
                                <li>
                                    4-5 Человек
                                </li>
                            </ul>
                        </div>

                        <div class="d-flex flex-column">
                            <p class="board-block__subtitle m-0 p-0">
                                Расписание
                            </p>

                            <ul>
                                <li>
                                    Понедельник - 14:00 - 16:00
                                </li>

                                <li>
                                    Понедельник - 14:00 - 16:00
                                </li>

                                <li>
                                    Понедельник - 14:00 - 16:00
                                </li>

                                <li>
                                    Понедельник - 14:00 - 16:00
                                </li>

                                <li>
                                    Понедельник - 14:00 - 16:00
                                </li>

                                <li>
                                    Понедельник - 14:00 - 16:00
                                </li>

                                <li>
                                    Понедельник - 14:00 - 16:00
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="left-part active col-md-6 p-5">
                    <h4 class="board-block__title m-0 p-0">
                        Русское отделение
                    </h4>

                    <div class="d-flex flex-column mt-5">
                        <p class="board-block__subtitle m-0 p-0">
                            Начало
                        </p>

                        <ul>
                            <li class="board-block__text m-0 p-0">
                                1 Мая 2018
                            </li>
                        </ul>
                    </div>

                    <div class="d-flex flex-column">
                        <p class="board-block__subtitle m-0 p-0">
                            Период
                        </p>

                        <ul>
                            <li class="board-block__text m-0 p-0">
                                Месяц
                            </li>
                        </ul>
                    </div>

                    <div class="d-flex flex-column">
                        <p class="board-block__subtitle m-0 p-0">
                            Группы
                        </p>

                        <ul>
                            <li class="board-block__text m-0 p-0">
                                4-5 Человек
                            </li>
                        </ul>
                    </div>

                    <div class="d-flex flex-column">
                        <p class="board-block__subtitle m-0 p-0">
                            Расписание
                        </p>

                        <ul>
                            <li class="board-block__text m-0 p-0">
                                Понедельник - 14:00 - 16:00
                            </li>

                            <li class="board-block__text m-0 p-0">
                                Понедельник - 14:00 - 16:00
                            </li>

                            <li class="board-block__text m-0 p-0">
                                Понедельник - 14:00 - 16:00
                            </li>

                            <li class="board-block__text m-0 p-0">
                                Понедельник - 14:00 - 16:00
                            </li>

                            <li class="board-block__text m-0 p-0">
                                Понедельник - 14:00 - 16:00
                            </li>

                            <li class="board-block__text m-0 p-0">
                                Понедельник - 14:00 - 16:00
                            </li>

                            <li class="board-block__text m-0 p-0">
                                Понедельник - 14:00 - 16:00
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="map">
    <div class="container h-100">
        <a class="dg-widget-link" href="http://2gis.kz/almaty/firm/70000001025967659/center/76.94796323776247,43.242326664885155/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">
            Посмотреть на карте Алматы
        </a>

        <div class="dg-widget-link">
            <a href="http://2gis.kz/almaty/center/76.947962,43.242142/zoom/16/routeTab/rsType/bus/to/76.947962,43.242142╎Академия наук GKB, образовательный центр?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">
                Найти проезд до Академия наук GKB, образовательный центр
            </a>
        </div>

        <script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
        <script charset="utf-8">
            new DGWidgetLoader({
                "width":"100%",
                "height":"100%",
                "borderColor":"transparent",
                "pos":{"lat":43.242326664885155,"lon":76.94796323776247,"zoom":16},
                "opt":{"city":"almaty"},
                "org":[{"id":"70000001025967659"}]});
        </script>

        <noscript style="color:#c00; font-size:16px; font-weight:bold;">
            Виджет карты использует JavaScript. Включите его в настройках вашего браузера.
        </noscript>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="d-flex flex-column">
                    <h3 class="footer-title m-0 p-0">
                        Курсы
                    </h3>

                    <p class="m-0 p-0 mt-3">
                        <a class="footer-subtitle m-0 p-0" href="#">
                            Химия
                        </a>
                    </p>

                    <p class="m-0 p-0">
                        <a class="footer-subtitle m-0 p-0" href="#">
                            Математика
                        </a>
                    </p>

                    <p class="m-0 p-0">
                        <a class="footer-subtitle m-0 p-0" href="#">
                            Физика
                        </a>
                    </p>

                    <p class="m-0 p-0">
                        <a class="footer-subtitle m-0 p-0" href="#">
                            Биология
                        </a>
                    </p>

                    <p class="m-0 p-0">
                        <a class="footer-subtitle m-0 p-0" href="#">
                            Научись учиться легко!
                        </a>
                    </p>

                    <p class="m-0 p-0">
                        <a class="footer-subtitle m-0 p-0" href="#">
                            Science (1-3 класс)
                        </a>
                    </p>

                    <p class="m-0 p-0">
                        <a class="footer-subtitle m-0 p-0" href="#">
                            Подготовка к экзамена
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="d-flex flex-column">
                    <h3 class="footer-title m-0 p-0">
                        Команда
                    </h3>

                    <p class="m-0 p-0 mt-3">
                        <a class="footer-subtitle m-0 p-0" href="#">
                            Преимущества
                        </a>
                    </p>

                    <p class="m-0 p-0">
                        <a class="footer-subtitle m-0 p-0" href="#">
                            Что означает GKB?
                        </a>
                    </p>

                    <p class="m-0 p-0">
                        <a class="footer-subtitle m-0 p-0" href="#">
                            Наши планы на лето 2018
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="d-flex flex-column">
                    <h3 class="footer-title m-0 p-0">
                        Социальные сети
                    </h3>

                    <p class="m-0 p-0 mt-3">
                        <a class="footer-subtitle m-0 p-0" href="#">
                            Facebook
                        </a>
                    </p>

                    <p class="m-0 p-0">
                        <a class="footer-subtitle m-0 p-0" href="#">
                            Instagram
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="d-flex flex-column">
                    <a href="#">
                        <img class="footer-image" src="/images/icons/logo-2.png" alt="">
                    </a>

                    <p class="footer-text m-0 p-0">
                        Адрес: Проспект Абая, 10а<br>(уг. ул. Фурманова)
                    </p>

                    <div class="d-flex">
                        <p class="footer-text m-0 p-0 mr-3">
                            Контакты:
                        </p>

                        <div class="d-flex flex-column">
                            <a href="tel:87273900505">
                                <p class="footer-text m-0 p-0">
                                    8-727-390-05-05
                                </p>
                            </a>

                            <a href="tel:87273900505">
                                <p class="footer-text m-0 p-0">
                                    8-777-829-11-44
                                </p>
                            </a>

                            <a href="tel:87273900505">
                                <p class="footer-text m-0 p-0">
                                    8-775-964-24-28
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div id="preloader">-->
<!--<div id="loader" class="circular-container">-->
<!--<div class="circle circular-loader1">-->
<!--<div class="circle circular-loader2"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="go-top">-->
<!--<a class="d-block text-center text-uppercase border-0 d-flex align-items-center justify-content-center smoothscroll" href="#top">-->
<!--<img src="/teachers/icons/up.png" class="go-top__image" alt="">-->
<!--</a>-->
<!--</div>-->
<!--<script src="/libs/jquery/dist/jquery.min.js"></script>-->
<!--<script src="/libs/popper.js/dist/popper.min.js"></script>-->
<!---->
<!--<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>-->
<!--<script src="/libs/aos/dist/aos.js"></script>-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<script src="/libs/owl.carousel/dist/owl.carousel.min.js"></script>

<script src="/javascripts/main.js"></script>

</body>
</html>
