<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- <base href="/"> -->

    <title>Leaderboard N17R | IOS</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Template Basic Images Start -->
    <meta property="og:image" content="/images/icons/swift.svg">
    <link rel="shortcut icon" type="image/png" href="/images/icons/favicon-96x96.png"/>

    <link rel="apple-touch-icon" sizes="180x180" href="path/to/image">
    <!-- Template Basic Images End -->

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='/libs/normalize-css/normalize.css'/>
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap-grid.min.css">


    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
<div class="header w-100  d-flex align-items-center justify-content-center flex-column">
    <img src="/images/icons/swift.svg" width="25%">
    <a href="/react" class="circle d-flex align-items-end flex-wrap">
        <div class="first"></div>
        <div class="first"></div>
        <div class="first d-flex align-items-center justify-content-center imgw">
            <img src="/images/icons/react.png" alt="">

        </div>
        <div class="first"></div>
    </a>
</div>
<div class="landing-main-page w-100">

    <div class="leaderboard w-100 ">
        <div class="container-fluid p-0">
            <div id="top" class="row ">
            </div>
        </div>
        <div class="container-fluid table-wrap ">
            <h2>Leaderboard for <span>today</span></h2>
            <input id="fuse-se" type="text" class="search-wrap" placeholder="Search participant">
        </div>
        <div class="w-100 lead-table">
            <table id="list">
                <tr id="keys" class="keys-cell">
                    {{#each keys}}
                        <td class="keys-stroke"><p>{{this}}</p></td>
                    {{/each}}
                </tr>
                    <!--{{#each users }}-->
                <!--<tr class="user-cell">-->

                    <!--{{#each fields}}-->
                    <!--<td>-->
                    <!--<p class="user-fields">{{this}}</p>-->
                    <!--</td>-->
                        <!--{{/each}}-->
                <!--</tr>-->
                    <!--{{/each}}-->
            </table>
        </div>
    </div>


</div>


<script src="/javascripts/jquery-3.3.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.0.4/fuse.min.js"></script>
<script>
    var ss = [];
    var index = 1;
    var keys = [];
    var os = ['', '', 'st', 'nd', 'rd']
    var images = ['startup', 'lion', 'dolphin'];
    var ii = 0;
    $.get('https://api.airtable.com/v0/appsZVlM0a7C9lACJ/iOS?api_key=keyqfoByFrvIArghp&maxRecords=3&sort%5B0%5D%5Bfield%5D=Total&sort%5B0%5D%5Bdirection%5D=desc&view=Grid+view', function (response) {
        ss = response.records;

    }).then(() => {
        ss.map((item) => $("#top").append(" <div class=\"col-md-4\">\n" +
                "                        <div class=\"card-wrap  w-100 d-flex flex-column justify-content-center \">\n" +
                "                            <img src=\"/images/icons/" + images[ii++] + ".svg\" alt=\"\">\n" +
                "                            <h1>" + item.fields.Name + "</h1>\n" +
                "                            <h2>{{player}}</h2>\n" +
                "                            <div class=\"circle d-flex align-items-end d" + index + "\">\n" +
                "                                <p>" + index++ + os[index] + "</p>\n" +
                "                            </div>\n" +
                "                        </div>\n" +
                "                    </div>"))

    });
    var allparticipants = [];
    var indic = 1;

    $.get('https://api.airtable.com/v0/appsZVlM0a7C9lACJ/iOS?api_key=keyqfoByFrvIArghp&sort%5B0%5D%5Bfield%5D=Total&sort%5B0%5D%5Bdirection%5D=desc&view=Grid+view', function (response) {
        allparticipants = response.records;
        let rigjt = allparticipants.find((item) => {
            let iKey = Object.keys(item.fields);
            return iKey[0] === "Name" && iKey[iKey.length -1] === "Total";
        });

        keys = Object.keys(rigjt.fields);
        keys.unshift("")
        keys.map((item) => $("#keys").append("   <td class=\"keys-stroke\"><p>" + item + "</p></td>"));


    }).then(() => {
        allparticipants.map((item) => {
            var tdlist = item.fields;
            var string = "";
            var stringOb = [];
            var i = 0;
            $.each(tdlist, function () {
                stringOb[i] = "";
                i++;
            });
            $.each(tdlist, function (index, value) {
                var kk = keys.find(item => item === index);
                var indexOf = keys.indexOf(kk)
                var sv = "<td>" +
                        "<p class=\"user-fields\">" + value + "</p>" +
                        "</td>"

                stringOb[indexOf] = sv;
            });
            stringOb.map((item) => string = string.concat(item));
            $("#list").append("<tr  class=\"user-cell\"> " +
                    "<td>" +
                    "<p>" + indic++ + ".</p>" +
                    "</td>" +
                    "" + string + "" +
                    "</tr>")
        })
    });

    var options = {
        shouldSort: true,
        threshold: 0.1,
        location: 0,
        distance: 100,
        maxPatternLength: 32,
        minMatchCharLength: 1,
        keys: [
            "fields.Name",
        ]
    };
    var query = "";
    $("#fuse-se").change(() => {
        indic = 1;
        query = $("#fuse-se").val();
        var result;
        if (query.length === 0) {
            result = allparticipants;
        }
        else {
            var fuse = new Fuse(allparticipants, options); // "list" is the item array
            result = fuse.search(query);
        }
        $(".user-cell").remove();

        var sortedR = result.sort(function (i1, i2) {
            return i2.fields.Total - i1.fields.Total;
        })
        sortedR.map((item) => {
            var tdlist = item.fields;
            var string = "";
            var stringOb = [];
            var i = 0;
            $.each(tdlist, function () {
                stringOb[i] = "";
                i++;
            });
            $.each(tdlist, function (index, value) {
                var kk = keys.find(item => item === index);
                var indexOf = keys.indexOf(kk)
                var sv = "<td>" +
                        "<p class=\"user-fields\">" + value + "</p>" +
                        "</td>"

                stringOb[indexOf] = sv;
            });
            stringOb.map((item) => string = string.concat(item));
            console.log(string);
            $("#list").append("<tr  class=\"user-cell\"> " +
                    "<td>" +
                    "<p>" + indic++ + ".</p>" +
                    "</td>" +
                    "" + string + "" +
                    "</tr>")
        })
    })


</script>

</body>
</html>
