<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- <base href="/"> -->

    <title>Академия наук GKB</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Template Basic Images Start -->
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="icon" href="path/to/image">
    <link rel="apple-touch-icon" sizes="180x180" href="path/to/image">
    <!-- Template Basic Images End -->

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='/libs/normalize-css/normalize.css'/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <link rel="stylesheet" href="/libs/owl.carousel/dist/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="/libs/aos/dist/aos.css"/>

    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>

<header class="s-header w-100 d-lg-none">

    <nav class="header-nav h-100">
        <a class="header-nav__close d-block" title="">
            <span></span>
        </a>

        <div class="header-nav__content">
            <h3>Навигация</h3>

            <ul class="header-nav__list">
                <li class="m-0 p-0">
                    <a class="smoothscroll" href="#request">
                        Попробуйте
                    </a>
                </li>

                <li class="m-0 p-0">
                    <a class="smoothscroll" href="#beready">
                        Готовьтесь
                    </a>
                </li>

                <li class="m-0 p-0">
                    <a class="smoothscroll" href="#teachers">
                        Достигайте
                    </a>
                </li>

                <li class="m-0 p-0">
                    <a class="m-0 p-0 btn btn-primary header-nav__list-button p-2 px-5" href="https://jkbacademy.s20.online/common/2/form/draw?id=1&lead_status_id=1&lead_source_id=2" target="_blank">
                        Обратный звонок
                    </a>
                </li>
            </ul>

            <h3 class="nav-link p-0">Контакты:</h3>

            <ul class="header-nav__list m-0">
                <li class="nav-item d-block d-lg-flex flex-lg-column">

                    <a class="nav-link p-0" href="tel:+77273900505">
                        8-727-390-05-05
                    </a>

                    <a class="nav-link p-0 mr-5" href="tel:+77273900505">
                        8-727-390-05-05
                    </a>
                </li>
            </ul>

        </div> <!-- end header-nav__content -->
    </nav>  <!-- end header-nav -->

    <a class="header-menu-toggle">
        <span class="header-menu-text d-block text-white">Меню</span>
        <span class="header-menu-icon d-block"></span>
    </a>

</header> <!-- end s-header -->

<div class="nav d-none d-lg-block" id="header">
    <div class="container d-flex align-items-center justify-content-between">
        <a href="/">
            <img class="nav-header__icon" src="/images/icons/logo-2.png" alt="">
        </a>

        <ul class="w-75 d-flex justify-content-around align-items-center" id="menumenu">
            <li class="m-0 p-0">
                <a class="smoothscroll" href="#request">
                    Попробуйте
                </a>
            </li>

            <li class="m-0 p-0">
                <a class="smoothscroll" href="#beready">
                    Готовьтесь
                </a>
            </li>

            <li class="m-0 p-0">
                <a class="smoothscroll" href="#teachers">
                    Достигайте
                </a>
            </li>

            <li class="m-0 p-0">
                <a class="m-0 p-0 btn btn-primary nav-title border-0 p-2 px-5" href="https://jkbacademy.s20.online/common/2/form/draw?id=1&lead_status_id=1&lead_source_id=2" target="_blank">
                    Обратный звонок
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="main" id="maindiv">
    <div class="main-background owl-carousel owl-theme owl-loaded">
        <div class="first">
            <div class="overlay h-100 w-100">
                <div class="container h-100">
                    <nav class="navbar navbar-expand-lg navbar-light d-none d-lg-flex py-5">
                        <a class="navbar-brand" href="/"><img class="main__navbar-icon mt-3" src="/images/icons/logo-2.png" alt=""></a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse d-lg-flex align-items-lg-center justify-content-lg-between" id="navbarText">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link smoothscroll text-white main__navbar-title ml-5" href="#schedule">
                                        Расписание на май
                                        <div class="main__navbar-title-underline"></div>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link smoothscroll text-white main__navbar-title ml-5" href="#summer">
                                        Летний интенсив
                                        <div class="main__navbar-title-underline"></div>
                                    </a>
                                </li>
                            </ul>

                            <ul class="navbar-nav d-block d-lg-flex align-items-lg-center">
                                <li class="nav-item d-block d-lg-flex flex-lg-column">
                                    <a class="nav-link text-white main__navbar-subtitle p-0" href="tel:+77273900505"><span>8-727-390-05-05</span></a>
                                    <a class="nav-link text-white main__navbar-subtitle p-0 mr-5" href="tel:+77778291144"><span>8-777-829-11-44</span></a>
                                </li>

                                <li class="nav-item d-block d-lg-flex">
                                    <a class="nav-link text-white main__navbar-title" href="https://www.facebook.com/gkbacademy/" target="_blank"><img class="main__navbar-image" src="/images/icons/facebook.png" alt="Facebook"></a>
                                    <a class="nav-link text-white main__navbar-title" href="https://www.instagram.com/gkb_academy/" target="_blank"><img class="main__navbar-image" src="/images/icons/instagram.png" alt="Instagram"></a>
                                    <a class="nav-link text-white main__navbar-title" href="https://vk.com/gkb_academy" target="_blank"><img class="main__navbar-image" src="/images/icons/vk.png" alt="Vkontakte"></a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <div class="main__text d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="d-flex text-white m-0 p-0">
                            <h3 class="main__text-title m-0 p-0">Курсы подготовки к РФМШ</h3>
                        </div>

                        <div class="main__text-line"></div>

                        <h3 class="main__text-text text-white m-0 p-0">
                            Записаться на бесплатный урок
                        </h3>

                        <a class="smoothscroll" href="#request">
                            <div class="btn btn-primary main__text-button border-0 p-2 px-5 mt-4">
                                <p class="main__text-button-text m-0 p-0 pb-2 px-5">Записаться</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="second">
            <div class="overlay h-100 w-100">
                <div class="container h-100">
                    <nav class="navbar navbar-expand-lg navbar-light d-none d-lg-flex py-5">
                        <a class="navbar-brand" href="/"><img class="main__navbar-icon mt-3" src="/images/icons/logo-2.png" alt=""></a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse d-lg-flex align-items-lg-center justify-content-lg-between" id="navbarText">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link smoothscroll text-white main__navbar-title ml-5" href="#schedule">
                                        Расписание на май
                                        <div class="main__navbar-title-underline"></div>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link smoothscroll text-white main__navbar-title ml-5" href="#summer">
                                        Летний интенсив
                                        <div class="main__navbar-title-underline"></div>
                                    </a>
                                </li>
                            </ul>

                            <ul class="navbar-nav d-block d-lg-flex align-items-lg-center">
                                <li class="nav-item d-block d-lg-flex flex-lg-column">
                                    <a class="nav-link text-white main__navbar-subtitle p-0" href="tel:+77273900505"><span>8-727-390-05-05</span></a>
                                    <a class="nav-link text-white main__navbar-subtitle p-0 mr-5" href="tel:+77778291144"><span>8-777-829-11-44</span></a>
                                </li>

                                <li class="nav-item d-block d-lg-flex">
                                    <a class="nav-link text-white main__navbar-title" href="https://www.facebook.com/gkbacademy/" target="_blank"><img class="main__navbar-image" src="/images/icons/facebook.png" alt="Facebook"></a>
                                    <a class="nav-link text-white main__navbar-title" href="https://www.instagram.com/gkb_academy/" target="_blank"><img class="main__navbar-image" src="/images/icons/instagram.png" alt="Instagram"></a>
                                    <a class="nav-link text-white main__navbar-title" href="https://vk.com/gkb_academy" target="_blank"><img class="main__navbar-image" src="/images/icons/vk.png" alt="Vkontakte"></a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <div class="main__text d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="d-flex text-white m-0 p-0">
                            <h3 class="main__text-title m-0 p-0">Курсы подготовки к РФМШ</h3>
                        </div>

                        <div class="main__text-line"></div>

                        <h3 class="main__text-text text-white m-0 p-0">
                            Записаться на бесплатный урок
                        </h3>

                        <a class="smoothscroll" href="#request">
                            <div class="btn btn-primary main__text-button border-0 p-2 px-5 mt-4">
                                <p class="main__text-button-text m-0 p-0 pb-2 px-5">Записаться</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="third">
            <div class="overlay h-100 w-100">
                <div class="container h-100">
                    <nav class="navbar navbar-expand-lg navbar-light d-none d-lg-flex py-5">
                        <a class="navbar-brand" href="/"><img class="main__navbar-icon mt-3" src="/images/icons/logo-2.png" alt=""></a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse d-lg-flex align-items-lg-center justify-content-lg-between" id="navbarText">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link smoothscroll text-white main__navbar-title ml-5" href="#schedule">
                                        Расписание на май
                                        <div class="main__navbar-title-underline"></div>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link smoothscroll text-white main__navbar-title ml-5" href="#summer">
                                        Летний интенсив
                                        <div class="main__navbar-title-underline"></div>
                                    </a>
                                </li>
                            </ul>

                            <ul class="navbar-nav d-block d-lg-flex align-items-lg-center">
                                <li class="nav-item d-block d-lg-flex flex-lg-column">
                                    <a class="nav-link text-white main__navbar-subtitle p-0" href="tel:+77273900505"><span>8-727-390-05-05</span></a>
                                    <a class="nav-link text-white main__navbar-subtitle p-0 mr-5" href="tel:+77778291144"><span>8-777-829-11-44</span></a>
                                </li>

                                <li class="nav-item d-block d-lg-flex">
                                    <a class="nav-link text-white main__navbar-title" href="https://www.facebook.com/gkbacademy/" target="_blank"><img class="main__navbar-image" src="/images/icons/facebook.png" alt="Facebook"></a>
                                    <a class="nav-link text-white main__navbar-title" href="https://www.instagram.com/gkb_academy/" target="_blank"><img class="main__navbar-image" src="/images/icons/instagram.png" alt="Instagram"></a>
                                    <a class="nav-link text-white main__navbar-title" href="https://vk.com/gkb_academy" target="_blank"><img class="main__navbar-image" src="/images/icons/vk.png" alt="Vkontakte"></a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <div class="main__text d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="d-flex text-white m-0 p-0">
                            <h3 class="main__text-title m-0 p-0">Курсы подготовки к РФМШ</h3>
                        </div>

                        <div class="main__text-line"></div>

                        <h3 class="main__text-text text-white m-0 p-0">
                            Записаться на бесплатный урок
                        </h3>

                        <a class="smoothscroll" href="#request">
                            <div class="btn btn-primary main__text-button border-0 p-2 px-5 mt-4">
                                <p class="main__text-button-text m-0 p-0 pb-2 px-5">Записаться</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="fourth">
            <div class="overlay h-100 w-100">
                <div class="container h-100">
                    <nav class="navbar navbar-expand-lg navbar-light d-none d-lg-flex py-5">
                        <a class="navbar-brand" href="/"><img class="main__navbar-icon mt-3" src="/images/icons/logo-2.png" alt=""></a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse d-lg-flex align-items-lg-center justify-content-lg-between" id="navbarText">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link smoothscroll text-white main__navbar-title ml-5" href="#schedule">
                                        Расписание на май
                                        <div class="main__navbar-title-underline"></div>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link smoothscroll text-white main__navbar-title ml-5" href="#summer">
                                        Летний интенсив
                                        <div class="main__navbar-title-underline"></div>
                                    </a>
                                </li>
                            </ul>

                            <ul class="navbar-nav d-block d-lg-flex align-items-lg-center">
                                <li class="nav-item d-block d-lg-flex flex-lg-column">
                                    <a class="nav-link text-white main__navbar-subtitle p-0" href="tel:+77273900505"><span>8-727-390-05-05</span></a>
                                    <a class="nav-link text-white main__navbar-subtitle p-0 mr-5" href="tel:+77778291144"><span>8-777-829-11-44</span></a>
                                </li>

                                <li class="nav-item d-block d-lg-flex">
                                    <a class="nav-link text-white main__navbar-title" href="https://www.facebook.com/gkbacademy/" target="_blank"><img class="main__navbar-image" src="/images/icons/facebook.png" alt="Facebook"></a>
                                    <a class="nav-link text-white main__navbar-title" href="https://www.instagram.com/gkb_academy/" target="_blank"><img class="main__navbar-image" src="/images/icons/instagram.png" alt="Instagram"></a>
                                    <a class="nav-link text-white main__navbar-title" href="https://vk.com/gkb_academy" target="_blank"><img class="main__navbar-image" src="/images/icons/vk.png" alt="Vkontakte"></a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <div class="main__text d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="d-flex text-white m-0 p-0">
                            <h3 class="main__text-title m-0 p-0">Курсы подготовки к РФМШ</h3>
                        </div>

                        <div class="main__text-line"></div>

                        <h3 class="main__text-text text-white m-0 p-0">
                            Записаться на бесплатный урок
                        </h3>

                        <a class="smoothscroll" href="#request">
                            <div class="btn btn-primary main__text-button border-0 p-2 px-5 mt-4">
                                <p class="main__text-button-text m-0 p-0 pb-2 px-5">Записаться</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="fifth">
            <div class="overlay h-100 w-100">
                <div class="container h-100">
                    <nav class="navbar navbar-expand-lg navbar-light d-none d-lg-flex py-5">
                        <a class="navbar-brand" href="/"><img class="main__navbar-icon mt-3" src="/images/icons/logo-2.png" alt=""></a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse d-lg-flex align-items-lg-center justify-content-lg-between" id="navbarText">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link smoothscroll text-white main__navbar-title ml-5" href="#schedule">
                                        Расписание на май
                                        <div class="main__navbar-title-underline"></div>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link smoothscroll text-white main__navbar-title ml-5" href="#summer">
                                        Летний интенсив
                                        <div class="main__navbar-title-underline"></div>
                                    </a>
                                </li>
                            </ul>

                            <ul class="navbar-nav d-block d-lg-flex align-items-lg-center">
                                <li class="nav-item d-block d-lg-flex flex-lg-column">
                                    <a class="nav-link text-white main__navbar-subtitle p-0" href="tel:+77273900505"><span>8-727-390-05-05</span></a>
                                    <a class="nav-link text-white main__navbar-subtitle p-0 mr-5" href="tel:+77778291144"><span>8-777-829-11-44</span></a>
                                </li>

                                <li class="nav-item d-block d-lg-flex">
                                    <a class="nav-link text-white main__navbar-title" href="https://www.facebook.com/gkbacademy/" target="_blank"><img class="main__navbar-image" src="/images/icons/facebook.png" alt="Facebook"></a>
                                    <a class="nav-link text-white main__navbar-title" href="https://www.instagram.com/gkb_academy/" target="_blank"><img class="main__navbar-image" src="/images/icons/instagram.png" alt="Instagram"></a>
                                    <a class="nav-link text-white main__navbar-title" href="https://vk.com/gkb_academy" target="_blank"><img class="main__navbar-image" src="/images/icons/vk.png" alt="Vkontakte"></a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <div class="main__text d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="d-flex text-white m-0 p-0">
                            <h3 class="main__text-title m-0 p-0">Курсы подготовки к РФМШ</h3>
                        </div>

                        <div class="main__text-line"></div>

                        <h3 class="main__text-text text-white m-0 p-0">
                            Записаться на бесплатный урок
                        </h3>

                        <a class="smoothscroll" href="#request">
                            <div class="btn btn-primary main__text-button border-0 p-2 px-5 mt-4">
                                <p class="main__text-button-text m-0 p-0 pb-2 px-5">Записаться</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="timeline" id="main">
    <span class="timeline-background text-uppercase">
        Наши преимущества
    </span>

    <div class="container">
        <h3 class="timeline-header text-center m-0 p-0">
            Почему мы?
        </h3>

        <div class="row mt-3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-6 col-xs-12 timeline-item start"  data-aos="fade-down">
                        <div class="d-flex flex-column justify-content-center text-center">
                            <h3 class="m-0 p-0">
                                Академия наук GKB
                            </h3>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12 timeline-item" data-aos="fade-down">
                        <div class="d-flex flex-column justify-content-center text-center">
                            <h3 class="m-0 p-0">
                                <span>Самый сильный</span> тренерский состав <br><span>в стране</span>
                            </h3>

                            <p class="m-0 p-0 mt-4">
                                Нашими тренерами завоевано <span>более 150 медалей</span> самых престижных международных олимпиад. Только в этом году ими подготовлено <span>36 призеров</span>
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12 timeline-item" data-aos="fade-down">
                        <div class="d-flex flex-column justify-content-center text-center">
                            <h3 class="m-0 p-0">
                                Нам <span>доверяют лучшие!</span>
                            </h3>

                            <p class="m-0 p-0 mt-4">
                                Самые сильные физико-математические школы страны -  <span>РФМШ, НИШ ФМН Алматы, <br>165 технический лицей, БИЛ (Аксай КТЛ), 90 лицей </span> готовятся к олимпиаде с <span>НАШИМИ ТРЕНЕРАМИ</span>
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12 timeline-item" data-aos="fade-down">
                        <div class="d-flex flex-column justify-content-center text-center">
                            <h3 class="m-0 p-0">
                                <span>83%</span> наших детей
                            </h3>

                            <p class="m-0 p-0 mt-4">
                                Успешно справились с вступительными тестами <span>в НИШ</span>
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12 timeline-item" data-aos="fade-down">
                        <div class="d-flex flex-column justify-content-center text-center">
                            <h3 class="m-0 p-0">
                                Учим ребенка <span>мыслить нестандартно,</span>
                            </h3>

                            <p class="m-0 p-0 mt-4">
                                Применяя на занятиях <span>ТРИЗ <br>(Теорию Решения Изобретательских Задач)</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="request" id="request">
    <span class="request-background text-uppercase">
        Попробуйте
    </span>

    <div class="container" data-aos="fade-down">
        <h3 class="request__text-title text-center">Запишитесь на бесплатный пробный урок</h3>
        <p class="request__text-subtitle text-center">
            <span class="text-white m-0 p-0">Научим</span>
            легко
            <span class="text-white m-0 p-0">учиться</span>
        </p>

        <div class="request-container text-center m-auto">
            <form method="post" id="myform">
                <div class="form-group mt-5 d-flex flex-column flex-sm-row justify-content-center">
                    <input type="text" name="contactName" class="request__form-input border-0 p-3 mr-3" placeholder="Имя" required="" autocomplete="off">
                    <input type="text" name="contactPhone" id="phone" class="request__form-input border-0 p-3 mr-3 mt-4 mt-sm-0" placeholder="+7 (___) ___-____" required="required" autocomplete="off">
                    <input type="submit" class="btn request__form-submit border-0 p-3 px-5 text-white mt-4 mt-sm-0" value="Оставить заявку">
                </div>
            </form>
        </div>
    </div>

</div>

<div class="be-ready" id="beready">
     <!--<span class="be-ready__background-text text-uppercase">-->
        <!--Готовьтесь-->
    <!--</span>-->

    <img src="/images/icons/Untitled.png" alt="" class="be-ready__background-image">

    <div class="container h-100 d-flex flex-column justify-content-around">
        <div class="row">
            <div class="col-md-7">
                <div class="be-ready__block">
                    <h3 class="be-ready__block-title m-0" data-aos="fade-up">
                        Готовьтесь только <br>с лучшими тренерами, которые научат:
                    </h3>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="d-flex align-items-center" data-aos="fade-up">
                                <img class="be-ready__block-image" src="/images/icons/strategy-2.png" alt="">

                                <p class="be-ready__block-subtitle m-0 p-0 ml-4">
                                    Стратегии и тактике подготовки к экзамену
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="d-flex align-items-center mt-5 mt-md-0" data-aos="fade-up">
                                <img class="be-ready__block-image" src="/images/icons/idea.png" alt="">

                                <p class="be-ready__block-subtitle m-0 p-0 ml-4">
                                    Мыслить<br>нестандартно
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="d-flex align-items-center mt-5" data-aos="fade-up">
                                <img class="be-ready__block-image" src="/images/icons/strategy.png" alt="">

                                <p class="be-ready__block-subtitle m-0 p-0 ml-4">
                                    Решать логические задачи
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="be-ready__motivation mt-5 mt-md-0 d-flex flex-column" data-aos="fade-up">
                    <h3 class="first m-0 p-0 mt-5 mt-md-0 ml-md-5">
                        Более
                    </h3>

                    <p class="second m-0 p-0">150</p>

                    <h3 class="third m-0 p-0 ml-md-4 mt-2">
                        МЕДАЛЕЙ
                    </h3>
                </div>
            </div>
        </div>

        <div class="be-ready__bottom">
            <div class="d-flex flex-column flex-md-row mb-5" data-aos="fade-up">
                <p class="be-ready__bottom-text m-0 p-0">
                    Снимаем страх
                </p>
                <p class="be-ready__bottom-text m-0 p-0 ml-md-3">
                    перед экзаменами :)</p>
            </div>

            <p class="be-ready__bottom-name mt-5 d-none d-sm-block" data-aos="fade-up">
                Хаджимуратов Нурсултан,<br>Главный тренер Академии GKB
            </p>
        </div>
    </div>
</div>

<div class="comments" id="teachers">
    <span class="comments-background text-uppercase">
        Достигайте
    </span>

    <div class="container" data-aos="fade-up">
        <h2 class="text-center text-uppercase">
            Наша
            <span>Команда</span>
        </h2>

        <div class="teacher owl-carousel owl-theme owl-loaded owl-drag">
            <div class="col-md-12 row">
                <div class="col-md-4 p-2">
                    <div class="item five">
                        <div class="main-circle d-flex align-items-center justify-content-center">
                            <h4 class="text-white">
                                Хаджимуратов
                                <br>Нурсултан
                            </h4>
                        </div>

                        <img src="/images/teachers/nursultan.jpeg" alt="">

                        <div class="small-circle"></div>

                        <div class="mid-circle"></div>
                    </div>
                </div>

                <div class="col-md-8 p-2 ">
                    <div class="info-details d-flex flex-column justify-content-center">
                        <p class="text-white pr-3">
                            Победитель  самых престижных математических соревнований: Международной Математической Олимпиады (International Mathematical Olympiad) золотая медаль  (Казахстан, 2010),  серебро (Германия,2009 и Испания,2008); золото Балканской математической олимпиады (Молдова,2010), серебро и бронза (Сербия,2009 и  Македония, 2008); серебряные медали Международной Жаутыковской Олимпиады (2008,2009,2010); золото(2009), серебро(2008), бронза(2007) Западно-Китайской Математической Олимпиады . Абсолютный победитель Республиканских олимпиад по математике (Актау,2009), (Кызылорда,2010).
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="col-md-4 p-2">
                    <div class="item five">
                        <div class="main-circle d-flex align-items-center justify-content-center">
                            <h4 class="text-white">
                                Левченко
                                <br>Павел
                            </h4>
                        </div>

                        <img src="/images/teachers/pavel.jpeg" alt="">

                        <div class="small-circle"></div>

                        <div class="mid-circle"></div>
                    </div>
                </div>

                <div class="col-md-8 p-2 ">
                    <div class="info-details d-flex flex-column justify-content-center">
                        <p class="text-white pr-3">
                            Руководитель сборной команды Казахстана на Всемирных и Азиатских олимпиадах по физике (2013 – 2016), обладатель приза в размере 20тыс дол США за лучшую авторскую задачу на WoPhO (2013); автор одной из трех задач на Всемирной олимпиаде по физике (2014), Член жюри на WoPhO (2013) и IPhO (2014);обладатель почетных грамот на IPhO и APhO (2006), золотой и серебряной медалей на Международной Жаутыковской олимпиаде (2005, 2006),золотой и серебряной медали на Республиканских олимпиадах (2005, 2006).
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="col-md-4 p-2">
                    <div class="item five">
                        <div class="main-circle d-flex align-items-center justify-content-center">
                            <h4 class="text-white">
                                Тлеболдинов
                                <br>Галымжан
                            </h4>
                        </div>

                        <img src="/images/teachers/galymzhan.jpeg" alt="">

                        <div class="small-circle"></div>

                        <div class="mid-circle"></div>
                    </div>
                </div>

                <div class="col-md-8 p-2 ">
                    <div class="info-details d-flex flex-column justify-content-center">
                        <p class="text-white pr-3">
                            Обладатель золотой медали Международной научно-технической ярмарки “MOSTRATEC” (Бразилия,2009 ), Международной ярмарки проектов в сфере Энергетики, Инженерии, и Экологии ( США, 2008), международной Президентской стипендии “Болашак”, призер республиканской олимпиады по биологии (2009) . Выпускник Университета Калифорнии, проходил практику в лаборатории Роджера Четелата (Калифорнийский университет, 2015-2016).Победитель Национального финала  FameLab Kazakhstan 2018, представляет нашу страну в Международном финале FameLab(Великобритания, июнь 2018).
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="col-md-4 p-2">
                    <div class="item five">
                        <div class="main-circle d-flex align-items-center justify-content-center">
                            <h4 class="text-white">
                                Шахманов
                                <br>Темирлан
                            </h4>
                        </div>

                        <img src="/images/teachers/temirlan.jpg" alt="">

                        <div class="small-circle"></div>

                        <div class="mid-circle"></div>
                    </div>
                </div>

                <div class="col-md-8 p-2">
                    <div class="info-details d-flex flex-column justify-content-center">
                        <p class="text-white pr-3">
                            Обладатель золотой медали республиканской олимпиады по химии среди казахско-турецких лицеев “KATEV” (2013), призер областных и республиканских предметных олимпиад по химии (2012-2014), Международной олимпиады научно-исследовательских проектов «Человек-Земля-Космос» (Россия,2014), Международной научной студенческой конференции Сатпаевские чтения (2015), Международной научной конференция «Фараби әлемі» для студентов и молодых ученых (2015), Республиканского II Национального Экологического Форума молодежи Республики Казахстан (2015), Международной открытой студенческой Интернет-олимпиады по дисциплине «Химия» (бронзовая медаль, 2015), V Международного студенческого форума «Зеленый мост через поколения» ( диплом III степени, 2016).
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="col-md-4 p-2">
                    <div class="item five">
                        <div class="main-circle d-flex align-items-center justify-content-center">
                            <h4 class="text-white">
                                Максат
                                <br>Мырзаханов
                            </h4>
                        </div>

                        <img src="/images/teachers/maxatm.jpeg" alt="">

                        <div class="small-circle"></div>

                        <div class="mid-circle"></div>
                    </div>
                </div>

                <div class="col-md-8 p-2 ">
                    <div class="info-details d-flex flex-column justify-content-center">
                        <p class="text-white pr-3">
                            Призер международной олимпиады по химии «Туймаада» (Якутия, РФ), финалист конкурса «Innovation man» Молодежного форума KazEnergy в рамках 10 Евразийского форума, участник Международной научно-практической конференции “Инновационное развитие нефтегазового комплекса Казахстана” (Алматы, Казахстан) и Всемирного Конгресса по Химии (Пусан, Корея 2015). Автор 20 научных трудов в зарубежных журналах и одного патента.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="col-md-4 p-2">
                    <div class="item five">
                        <div class="main-circle d-flex align-items-center justify-content-center">
                            <h4 class="text-white">
                                Байжекенова
                                <br>Гуляим
                                <br>Кабидолдановна
                            </h4>
                        </div>

                        <img src="/images/teachers/gulyaim.jpg" alt="">

                        <div class="small-circle"></div>

                        <div class="mid-circle"></div>
                    </div>
                </div>

                <div class="col-md-8 p-2 ">
                    <div class="info-details d-flex flex-column justify-content-center">
                        <p class="text-white pr-3">
                            Почетный работник образования Республики Казахстан, Директор Назарбаев Интеллектуальной школы физико-математического направления г.Талдыкорган, Председатель Совета директоров Назарбаев Интеллектуальных школ, кандидат педагогических наук, профессор Российской Академии естествознания, обладатель нагрудного знака Ы.АЛТЫНСАРИНА, активный участник общественной и благотворительной деятельности, член Ассоциации деловых женщин Казахстана. Удостоена многих государственных наград.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="col-md-4 p-2">
                    <div class="item five">
                        <div class="main-circle d-flex align-items-center justify-content-center">
                            <h4 class="text-white">
                                Башарова
                                <br>Камила
                                <br>Куанышбаевна
                            </h4>
                        </div>

                        <img src="/images/teachers/kamila.jpg" alt="">

                        <div class="small-circle"></div>

                        <div class="mid-circle"></div>
                    </div>
                </div>

                <div class="col-md-8 p-2 ">
                    <div class="info-details d-flex flex-column justify-content-center">
                        <p class="text-white pr-3">
                            Почетный работник образования, одна из самых известных в стране специалистов по работе с одаренными детьми, удостоена званий “Ведущий к вершинам Олимпа”, награды “За верность олимпийскому движению”, автор и разработчик курса эффективного обучения детей. Руководитель ряда образовательных проектов.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="col-md-4 p-2">
                    <div class="item five">
                        <div class="main-circle d-flex align-items-center justify-content-center">
                            <h4 class="text-white">
                                Бирибаева
                                <br>Нурбану
                                <br>Жунусовна
                            </h4>
                        </div>

                        <img src="/images/teachers/nurbanu.jpg" alt="">

                        <div class="small-circle"></div>

                        <div class="mid-circle"></div>
                    </div>
                </div>

                <div class="col-md-8 p-2 ">
                    <div class="info-details d-flex flex-column justify-content-center">
                        <p class="text-white pr-3">
                            Кандидат педагогических наук, профессор педагогики, автор более 80 научно-методических пособий и публикаций по внедрению инновационных педагогических технологий в образовательный процесс. Почетный работник образования РК, Отличник образования РК.                                                                                        Известный в стране и за рубежом специалист в области индивидуально-дифференцированного обучения и функциональной грамотности. Руководитель творческой группы “ТРИЗ-технология: поиск сильных решений”.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="col-md-4 p-2">
                    <div class="item five">
                        <div class="main-circle d-flex align-items-center justify-content-center">
                            <h4 class="text-white">
                                Омарова
                                <br>Гульжан
                            </h4>
                        </div>

                        <img src="/images/teachers/gulzhan.jpeg" alt="">

                        <div class="small-circle"></div>

                        <div class="mid-circle"></div>
                    </div>
                </div>

                <div class="col-md-8 p-2 ">
                    <div class="info-details d-flex flex-column justify-content-center">
                        <p class="text-white pr-3">
                            Руководитель проекта
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="col-md-4 p-2">
                    <div class="item five">
                        <div class="main-circle d-flex align-items-center justify-content-center">
                            <h4 class="text-white">
                                Кабидолданова<br>
                                Асем<br>
                                Алтаевна
                            </h4>
                        </div>

                        <img src="/images/teachers/asem.jpeg" alt="">

                        <div class="small-circle"></div>

                        <div class="mid-circle"></div>
                    </div>
                </div>

                <div class="col-md-8 p-2 ">
                    <div class="info-details d-flex flex-column justify-content-center">
                        <p class="text-white pr-3">
                            Кандидат физико-математических наук, доцент кафедры КазНУ им аль-Фараби, победитель конкурса “Лучшее учебное издание” (2014), Лучший молодой ученый КазНУ (2015). Прошла стажировку в Институте математики Университета Гумбольдта (Берлин, Германия,2015). Увлекается бегом: Лучший скайраннер в своей возрастной группе по результатам серии чемпионатов г. Алматы по скайраннингу за 2016 г.; первое место по полумарафону в Новогоднем марафоне (2017). Автор ряда книг и научных публикаций
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="col-md-4 p-2">
                    <div class="item five">
                        <div class="main-circle d-flex align-items-center justify-content-center">
                            <h4 class="text-white">
                                Ерболат
                                <br>Ниятбай
                            </h4>
                        </div>

                        <img src="/images/teachers/niyatbai.jpg" alt="">

                        <div class="small-circle"></div>

                        <div class="mid-circle"></div>
                    </div>
                </div>

                <div class="col-md-8 p-2 ">
                    <div class="info-details d-flex flex-column justify-content-center">
                        <p class="text-white pr-3">
                            Старший тренер направления "Математика" и "Логика". Самый результативный тренер по подготовке к поступлению в НИШ. В этом году его ученица Арай Ахимбекова набрала 400 из 400 возможных баллов по математике
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="col-md-4 p-2">
                    <div class="item five">
                        <div class="main-circle d-flex align-items-center justify-content-center">
                            <h4 class="text-white">
                                Александр
                                <br>Шакиев
                            </h4>
                        </div>

                        <img src="/images/teachers/aleksandr.jpeg" alt="">

                        <div class="small-circle"></div>

                        <div class="mid-circle"></div>
                    </div>
                </div>

                <div class="col-md-8 p-2 ">
                    <div class="info-details d-flex flex-column justify-content-center">
                        <p class="text-white pr-3">
                            Обладатель бронзовой медали Международной Математической Олимпиады - International Mathematical Olympiad (Тайланд, 2015), бронзовой медали Азиатской Тихоокеанской Математической Олимпиады, серебряной медали Юниорской Балканской олимпиады (Турция, 2013), серебряной медали олимпиады Шелковый путь, бронзовой медали Балканской математической олимпиады (Греция, 2015), серебряной медали Международной Жаутыковской олимпиады (2015), серебряной медали республиканской олимпиады по математике (2015).
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="col-md-4 p-2">
                    <div class="item five">
                        <div class="main-circle d-flex align-items-center justify-content-center">
                            <h4 class="text-white">
                                Журумбаева<br>Самал
                            </h4>
                        </div>

                        <img src="/images/teachers/samal.jpeg" alt="">

                        <div class="small-circle"></div>

                        <div class="mid-circle"></div>
                    </div>
                </div>

                <div class="col-md-8 p-2 ">
                    <div class="info-details d-flex flex-column justify-content-center">
                        <p class="text-white pr-3">
                            Менеджер по работе с клиентами
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="col-md-4 p-2">
                    <div class="item five">
                        <div class="main-circle d-flex align-items-center justify-content-center">
                            <h4 class="text-white">
                                Адамов
                                <br>Асыл
                            </h4>
                        </div>

                        <img src="/images/teachers/asyl.jpeg" alt="">

                        <div class="small-circle"></div>

                        <div class="mid-circle"></div>
                    </div>
                </div>

                <div class="col-md-8 p-2 ">
                    <div class="info-details d-flex flex-column justify-content-center">
                        <p class="text-white pr-3">
                            Призер международных научных соревнований (Байконыр, 2013), республиканской олимпиады по химии (Талдыкорган,2013). Студент Назарбаев Университета, занимается исследовательской работой по катализу у Dr.Andrey Khalimon
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="col-md-4 p-2">
                    <div class="item five">
                        <div class="main-circle d-flex align-items-center justify-content-center">
                            <h4 class="text-white">
                                Темирбай<br>
                                Мирас
                            </h4>
                        </div>

                        <img src="/images/teachers/miras.jpeg" alt="">

                        <div class="small-circle"></div>

                        <div class="mid-circle"></div>
                    </div>
                </div>

                <div class="col-md-8 p-2 ">
                    <div class="info-details d-flex flex-column justify-content-center">
                        <p class="text-white pr-3">
                            Призеры областной олимпиады по информатике (Кокшетау, 2012-2015), призер Республиканской олимпиады по информатике среди казахско-турецких лицеев "KATEV" (Алматы, 2012-2013), финалист Международной Евразийской олимпиады по информатике (Алматы, 2015), участник Международной Сатпаевской олимпиады (Баянаул, 2012), обладатель знака "Алтын Белгі".
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="col-md-4 p-2">
                    <div class="item five">
                        <div class="main-circle d-flex align-items-center justify-content-center">
                            <h4 class="text-white">
                                Иманбердиева
                                <br>Медина
                            </h4>
                        </div>

                        <img src="/images/teachers/medina.jpeg" alt="">

                        <div class="small-circle"></div>

                        <div class="mid-circle"></div>
                    </div>
                </div>

                <div class="col-md-8 p-2 ">
                    <div class="info-details d-flex flex-column justify-content-center">
                        <p class="text-white pr-3">
                            Призер городской олимпиады по математике, <br>обладатель знака "Алтын белгі".
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="col-md-4 p-2">
                    <div class="item five">
                        <div class="main-circle d-flex align-items-center justify-content-center">
                            <h4 class="text-white">
                                Машенкова
                                <br>Альбина
                            </h4>
                        </div>

                        <img src="/images/teachers/albina.jpg" alt="">

                        <div class="small-circle"></div>

                        <div class="mid-circle"></div>
                    </div>
                </div>

                <div class="col-md-8 p-2 ">
                    <div class="info-details d-flex flex-column justify-content-center">
                        <p class="text-white pr-3">
                            Победитель городской олимпиады по математике (2011 -2012), призер фестиваля научных проектов (2012),обладатель знака "Алтын белгі"
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="board" id="schedule">
    <div class="container">
        <div class="row">
            <div class="board-top col-md-6 order-md-2 medium-offset-3 pb-3 pb-sm-5">
                <h3 class="board-top__title m-0 text-center">
                    Расписание на май
                </h3>
            </div>

            <div class="board-middle col-md-3 order-md-1">
                <div class="w-100 d-flex align-items-center justify-content-center">
                    <img src="/images/icons/university.png" alt="" class="board-middle__image">

                    <p class="board-middle__text m-0 p-0 ml-4">
                        6-7 Класс
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="right-part col-md-6 p-5">
                <h4 class="board-block__title m-0 p-0">
                    Казахское отделение
                </h4>

                <div class="d-flex flex-column mt-5">
                    <div class="d-flex flex-column">
                        <p class="board-block__subtitle m-0 p-0">
                            Группы
                        </p>

                        <ul>
                            <li>
                                10-12 Человек
                            </li>
                        </ul>
                    </div>

                    <p class="board-block__subtitle m-0 p-0">
                        Расписание
                    </p>

                    <div class="row mt-3">
                        <div class="col-4 board-block__group">
                            <div class="w-100 d-flex flex-column align-items-center pb-5">
                                <p class="board-block__group-text m-0 p-0">
                                    6 Класс
                                </p>

                                <p class="board-block__group-text m-0 p-0 mt-4">
                                    <strong>Предметы:</strong>
                                </p>

                                <p class="board-block__group-text text-center m-0 p-0">
                                    Математика и логика
                                </p>



                                <p class="board-block__group-text m-0 p-0 mt-4">
                                    <strong>Дни:</strong>
                                </p>

                                <p class="board-block__group-text m-0 p-0">
                                    Вторник
                                </p>

                                <p class="board-block__group-text m-0 p-0">
                                    Четверг
                                </p>

                                <p class="board-block__group-text m-0 p-0 mt-4">
                                    <strong>Время:</strong>
                                </p>

                                <p class="board-block__group-text m-0 p-0">
                                    15:00 - 17:00
                                </p>

                            </div>
                        </div>

                        <div class="col-4 board-block__group center">
                            <div class="w-100 d-flex flex-column align-items-center pb-5">
                                <p class="board-block__group-text m-0 p-0">
                                    7 Класс
                                </p>

                                <p class="board-block__group-text m-0 p-0 mt-4">
                                    <strong>Предметы:</strong>
                                </p>

                                <p class="board-block__group-text text-center m-0 p-0">
                                    Математика, логика и физика
                                </p>



                                <p class="board-block__group-text m-0 p-0 mt-4">
                                    <strong>Дни:</strong>
                                </p>

                                <p class="board-block__group-text text-center m-0 p-0">
                                    Понедельник
                                </p>

                                <p class="board-block__group-text text-center m-0 p-0">
                                    Среда
                                </p>

                                <p class="board-block__group-text m-0 p-0 mt-4">
                                    <strong>Время:</strong>
                                </p>

                                <p class="board-block__group-text m-0 p-0">
                                    15:00 - 17:00
                                </p>

                            </div>
                        </div>

                        <div class="col-4 board-block__group">
                            <div class="w-100 d-flex flex-column align-items-center pb-5">
                                <p class="board-block__group-text m-0 p-0">
                                    7 Класс
                                </p>

                                <p class="board-block__group-text m-0 p-0 mt-4">
                                    <strong>Предметы:</strong>
                                </p>

                                <p class="board-block__group-text text-center m-0 p-0">
                                    Математика, логика и физика
                                </p>



                                <p class="board-block__group-text m-0 p-0 mt-4">
                                    <strong>Дни:</strong>
                                </p>

                                <p class="board-block__group-text m-0 p-0">
                                    Вторник
                                </p>

                                <p class="board-block__group-text m-0 p-0">
                                    Четверг
                                </p>


                                <p class="board-block__group-text m-0 p-0 mt-4">
                                    <strong>Время:</strong>
                                </p>

                                <p class="board-block__group-text m-0 p-0">
                                    08:00 - 10:00
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="left-part active col-md-6 p-5 mb-5 mb-md-0">
                <h4 class="board-block__title m-0 p-0">
                    Русское отделение
                </h4>

                <div class="d-flex flex-column mt-5">
                    <div class="d-flex flex-column">
                        <p class="board-block__subtitle m-0 p-0">
                            Группы
                        </p>

                        <ul>
                            <li>
                                10-12 Человек
                            </li>
                        </ul>
                    </div>

                    <p class="board-block__subtitle m-0 p-0">
                        Расписание
                    </p>

                    <div class="row mt-3">
                        <div class="col-4 board-block__group">
                            <div class="w-100 d-flex flex-column align-items-center pb-5">
                                <p class="board-block__group-text m-0 p-0">
                                    6 Класс
                                </p>

                                <p class="board-block__group-text m-0 p-0 mt-4">
                                    <strong>Предметы:</strong>
                                </p>

                                <p class="board-block__group-text text-center m-0 p-0">
                                    Математика и логика
                                </p>



                                <p class="board-block__group-text m-0 p-0 mt-4">
                                    <strong>Дни:</strong>
                                </p>

                                <p class="board-block__group-text m-0 p-0">
                                    Понедельник
                                </p>

                                <p class="board-block__group-text m-0 p-0">
                                    Среда
                                </p>


                                <p class="board-block__group-text m-0 p-0 mt-4">
                                    <strong>Время:</strong>
                                </p>

                                <p class="board-block__group-text m-0 p-0">
                                    08:00 - 10:00
                                </p>

                            </div>
                        </div>

                        <div class="col-4 board-block__group center">
                            <div class="w-100 d-flex flex-column align-items-center pb-5">
                                <p class="board-block__group-text m-0 p-0">
                                    7 Класс
                                </p>

                                <p class="board-block__group-text m-0 p-0 mt-4">
                                    <strong>Предметы:</strong>
                                </p>

                                <p class="board-block__group-text text-center m-0 p-0">
                                    Математика, логика и физика
                                </p>



                                <p class="board-block__group-text m-0 p-0 mt-4">
                                    <strong>Дни:</strong>
                                </p>

                                <p class="board-block__group-text text-center m-0 p-0">
                                    Понедельник
                                </p>

                                <p class="board-block__group-text text-center m-0 p-0">
                                    Среда
                                </p>


                                <p class="board-block__group-text m-0 p-0 mt-4">
                                    <strong>Время:</strong>
                                </p>

                                <p class="board-block__group-text m-0 p-0">
                                    15:00 - 17:00
                                </p>

                            </div>
                        </div>

                        <div class="col-4 board-block__group">
                            <div class="w-100 d-flex flex-column align-items-center pb-5">
                                <p class="board-block__group-text m-0 p-0">
                                    7 Класс
                                </p>

                                <p class="board-block__group-text m-0 p-0 mt-4">
                                    <strong>Предметы:</strong>
                                </p>

                                <p class="board-block__group-text text-center m-0 p-0">
                                    Математика, логика и физика
                                </p>



                                <p class="board-block__group-text m-0 p-0 mt-4">
                                    <strong>Дни:</strong>
                                </p>

                                <p class="board-block__group-text text-center m-0 p-0">
                                    Вторник
                                </p>

                                <p class="board-block__group-text text-center m-0 p-0">
                                    Четверг
                                </p>

                                <p class="board-block__group-text m-0 p-0 mt-4">
                                    <strong>Время:</strong>
                                </p>

                                <p class="board-block__group-text m-0 p-0">
                                    8:00 - 10:00
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="board-2" id="summer">
    <div class="container">
        <div class="row">
            <div class="board-top col-12 col-md-6 order-md-2 pb-3 pb-sm-5">
                <h3 class="board-top__title m-0 text-center">
                    Летний интенсив
                </h3>

                <p class="board-top__subtitle m-0 mt-2 text-center">
                    Шанс заскочить в последний вагон
                </p>
            </div>

            <div class="board-middle col-6 col-md-3 order-md-1">
                <div class="w-100 d-flex align-items-center justify-content-center">
                    <img src="/images/icons/calendar.png" alt="" class="board-middle__image">

                    <p class="board-middle__text m-0 p-0 ml-4">
                        1-12 Июня
                    </p>
                </div>
            </div>

            <div class="board-middle col-6 col-md-3 order-md-3">
                <div class="w-100 d-flex align-items-center justify-content-center">
                    <img src="/images/icons/university.png" alt="" class="board-middle__image">

                    <p class="board-middle__text m-0 p-0 ml-4">
                        6-7 Класс
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="right-part col-md-6 p-5">
                <h4 class="board-block__title m-0 p-0">
                    Казахское отделение
                </h4>

                <div class="d-flex flex-column mt-5">
                    <div class="d-flex flex-column">
                        <p class="board-block__subtitle m-0 p-0">
                            Группы
                        </p>

                        <ul>
                            <li>
                                10-12 Человек
                            </li>
                        </ul>
                    </div>

                    <p class="board-block__subtitle m-0 p-0">
                        Расписание
                    </p>

                    <ul>
                        <li>
                            Занятия проходят ежедневно
                            с понедельника по субботу (включительно)
                        </li>
                    </ul>

                    <div class="row mt-3">
                        <div class="col-4 board-block__group">
                            <div class="w-100 d-flex flex-column align-items-center pb-5">
                                <p class="board-block__group-text m-0 p-0">
                                    1 Группа
                                </p>

                                <p class="board-block__group-text m-0 p-0 mt-4">
                                    <strong>Время:</strong>
                                </p>

                                <p class="board-block__group-text m-0 p-0">
                                    09:00 - 11:00
                                </p>

                            </div>
                        </div>

                        <div class="col-4 board-block__group center">
                            <div class="w-100 d-flex flex-column align-items-center pb-5">
                                <p class="board-block__group-text m-0 p-0">
                                    2 Группа
                                </p>

                                <p class="board-block__group-text m-0 p-0 mt-4">
                                    <strong>Время:</strong>
                                </p>

                                <p class="board-block__group-text m-0 p-0">
                                    11:00 - 13:00
                                </p>

                            </div>
                        </div>

                        <div class="col-4 board-block__group">
                            <div class="w-100 d-flex flex-column align-items-center pb-5">
                                <p class="board-block__group-text m-0 p-0">
                                    3 Группа
                                </p>

                                <p class="board-block__group-text m-0 p-0 mt-4">
                                    <strong>Время:</strong>
                                </p>

                                <p class="board-block__group-text m-0 p-0">
                                    14:00 - 16:00
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="left-part active col-md-6 p-5">
                <h4 class="board-block__title m-0 p-0">
                    Русское отделение
                </h4>

                <div class="d-flex flex-column mt-5">
                    <div class="d-flex flex-column">
                        <p class="board-block__subtitle m-0 p-0">
                            Группы
                        </p>

                        <ul>
                            <li>
                                10-12 Человек
                            </li>
                        </ul>
                    </div>

                    <p class="board-block__subtitle m-0 p-0">
                        Расписание
                    </p>

                    <ul>
                        <li>
                            Занятия проходят ежедневно
                            с понедельника по субботу (включительно)
                        </li>
                    </ul>

                    <div class="row mt-3">
                        <div class="col-4 board-block__group">
                            <div class="w-100 d-flex flex-column align-items-center pb-5">
                                <p class="board-block__group-text m-0 p-0">
                                    1 Группа
                                </p>

                                <p class="board-block__group-text m-0 p-0 mt-4">
                                    <strong>Время:</strong>
                                </p>

                                <p class="board-block__group-text m-0 p-0">
                                    09:00 - 11:00
                                </p>

                            </div>
                        </div>

                        <div class="col-4 board-block__group center">
                            <div class="w-100 d-flex flex-column align-items-center pb-5">
                                <p class="board-block__group-text m-0 p-0">
                                    2 Группа
                                </p>

                                <p class="board-block__group-text m-0 p-0 mt-4">
                                    <strong>Время:</strong>
                                </p>

                                <p class="board-block__group-text m-0 p-0">
                                    11:00 - 13:00
                                </p>

                            </div>
                        </div>

                        <div class="col-4 board-block__group">
                            <div class="w-100 d-flex flex-column align-items-center pb-5">
                                <p class="board-block__group-text m-0 p-0">
                                    3 Группа
                                </p>

                                <p class="board-block__group-text m-0 p-0 mt-4">
                                    <strong>Время:</strong>
                                </p>

                                <p class="board-block__group-text m-0 p-0">
                                    14:00 - 16:00
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="map" data-aos="fade-out">
    <div class="container h-100">
        <a class="dg-widget-link" href="http://2gis.kz/almaty/firm/70000001025967659/center/76.94796323776247,43.242326664885155/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap" target="_blank">
            Посмотреть на карте Алматы
        </a>

        <div class="dg-widget-link">
            <a href="http://2gis.kz/almaty/center/76.947962,43.242142/zoom/16/routeTab/rsType/bus/to/76.947962,43.242142╎Академия наук GKB, образовательный центр?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route" target="_blank">
                Найти проезд до Академия наук GKB, образовательный центр
            </a>
        </div>

        <script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
        <script charset="utf-8">
            new DGWidgetLoader({
                "width":"100%",
                "height":"100%",
                "borderColor":"transparent",
                "pos":{"lat":43.242326664885155,"lon":76.94796323776247,"zoom":16},
                "opt":{"city":"almaty"},
                "org":[{"id":"70000001025967659"}]});
        </script>

        <noscript style="color:#c00; font-size:16px; font-weight:bold;">
            Виджет карты использует JavaScript. Включите его в настройках вашего браузера.
        </noscript>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6">
                <div class="d-flex flex-column">
                    <h3 class="footer-title m-0 p-0">
                        Курсы
                    </h3>

                    <p class="m-0 p-0 mt-3">
                        <a class="footer-subtitle m-0 p-0" href="http://smartacademy.kz/content/himiya" target="_blank">
                            Химия
                        </a>
                    </p>

                    <p class="m-0 p-0">
                        <a class="footer-subtitle m-0 p-0" href="http://smartacademy.kz/content/matematika" target="_blank">
                            Математика
                        </a>
                    </p>

                    <p class="m-0 p-0">
                        <a class="footer-subtitle m-0 p-0" href="http://smartacademy.kz/content/fizika" target="_blank">
                            Физика
                        </a>
                    </p>

                    <p class="m-0 p-0">
                        <a class="footer-subtitle m-0 p-0" href="http://smartacademy.kz/content/biologiya" target="_blank">
                            Биология
                        </a>
                    </p>

                    <p class="m-0 p-0">
                        <a class="footer-subtitle m-0 p-0" href="http://smartacademy.kz/content/nauchis-legko-uchitsya" target="_blank">
                            Научись учиться легко!
                        </a>
                    </p>

                    <p class="m-0 p-0">
                        <a class="footer-subtitle m-0 p-0" href="http://smartacademy.kz/content/science-1-3-klass" target="_blank">
                            Science (1-3 класс)
                        </a>
                    </p>

                    <p class="m-0 p-0">
                        <a class="footer-subtitle m-0 p-0" href="http://smartacademy.kz/content/podgotovka-k-ekzamenam" target="_blank">
                            Подготовка к экзамена
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-6">
                <div class="d-flex flex-column">
                    <h3 class="footer-title m-0 p-0">
                        Команда
                    </h3>

                    <p class="m-0 p-0 mt-3">
                        <a class="footer-subtitle m-0 p-0" href="http://smartacademy.kz/content/preimushchestva" target="_blank">
                            Преимущества
                        </a>
                    </p>

                    <p class="m-0 p-0">
                        <a class="footer-subtitle m-0 p-0" href="http://smartacademy.kz/content/chavo" target="_blank">
                            Что означает GKB?
                        </a>
                    </p>

                    <p class="m-0 p-0">
                        <a class="footer-subtitle m-0 p-0" href="http://smartacademy.kz/content/lager" target="_blank">
                            Наши планы на лето 2018
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-6">
                <div class="d-flex flex-column mt-5 mt-md-0">
                    <h3 class="footer-title m-0 p-0">
                        Социальные сети
                    </h3>

                    <p class="m-0 p-0 mt-3">
                        <a class="footer-subtitle m-0 p-0" href="https://www.facebook.com/gkbacademy/" target="_blank">
                            Facebook
                        </a>
                    </p>

                    <p class="m-0 p-0">
                        <a class="footer-subtitle m-0 p-0" href="https://www.instagram.com/gkb_academy/" target="_blank">
                            Instagram
                        </a>
                    </p>

                    <p class="m-0 p-0">
                        <a class="footer-subtitle m-0 p-0" href="https://vk.com/gkb_academy" target="_blank">
                            Vkontakte
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-6">
                <div class="d-flex flex-column mt-5 mt-md-0">
                    <h3 class="footer-title m-0 p-0">
                        Контакты
                    </h3>

                    <p class="footer-text m-0 p-0 mt-3">
                        Адрес: Проспект Абая, 10а<br>(уг. ул. Назарбаева)
                    </p>

                    <div class="d-flex flex-column">
                        <p class="footer-text m-0 p-0 mr-3">
                            Контакты:
                        </p>

                        <a href="tel:87273900505">
                            <p class="footer-subtitle m-0 p-0">
                                8-727-390-05-05
                            </p>
                        </a>

                        <a href="tel:87273900505">
                            <p class="footer-subtitle m-0 p-0">
                                8-777-829-11-44
                            </p>
                        </a>

                        <a href="tel:87273900505">
                            <p class="footer-subtitle m-0 p-0">
                                8-775-964-24-28
                            </p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="mt-4 d-flex justify-content-center align-items-center">
                    <p class="footer-text m-0 p-0 mt-3">
                        Copyright © 2018 "GKB". Все права защищены.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="preloader">
    <div id="loader" class="loader loader-1">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>
    </div>
</div>

<script src="/javascripts/jquery-3.3.1.min.js"></script>
<script src="/javascripts/email.min.js"></script>
<script src="/javascripts/popper.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>

<script src="/libs/aos/dist/aos.js"></script>
<script src="/libs/owl.carousel/dist/owl.carousel.min.js"></script>

<script src="/javascripts/jquery.inputmask.bundle.js"></script>
<script src="/javascripts/phone.min.js"></script>
<script src="/javascripts/main.js"></script>

</body>
</html>
