<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- <base href="/"> -->

    <title>{{title}}</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Template Basic Images Start -->
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="shortcut icon" href="/images/icons/favicon.jpg" type="image/png">

    <link rel="apple-touch-icon" sizes="180x180" href="path/to/image">
    <!-- Template Basic Images End -->

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='/libs/normalize-css/normalize.css'/>
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap-grid.min.css">


    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
<div class="header w-100  d-flex align-items-center justify-content-center flex-column">
    <img src="/images/icons/react.png" width="25%">
    <a href="/" class="circle d-flex align-items-end flex-wrap">
        <div class="first"></div>
        <div class="first"></div>
        <div class="first d-flex align-items-center justify-content-center imgw">
            <img src="/images/icons/swift.svg" alt="">

        </div>
        <div class="first"></div>
    </a>
</div>
<div class="landing-main-page w-100">

    <div class="leaderboard w-100 ">
        <div class="container-fluid p-0">
            <div id="top" class="row ">
            </div>
        </div>
        <div class="container-fluid table-wrap ">
            <h2>Leaderboard for <span>today</span></h2>
            <input id="fuse-se" type="text" class="search-wrap" placeholder="Search participant">
        </div>
        <div class="w-100 lead-table">
            <table id="list">
                <tr id="keys" class="keys-cell">
                </tr>

            </table>

        </div>
    </div>


</div>


<script src="/javascripts/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.0.4/fuse.min.js"></script>
<script>
    let ss = [];
    let index = 1;
    let keys =[];
    let os = ['','','st','nd','rd']
    $.get('https://api.airtable.com/v0/appsZVlM0a7C9lACJ/react-native?api_key=keyqfoByFrvIArghp&maxRecords=3&sort%5B0%5D%5Bfield%5D=Total&sort%5B0%5D%5Bdirection%5D=desc&view=Grid+view',function (response) {
        ss = response.records;
        keys = Object.keys(ss[0].fields);
    }).then(()=> {
        ss.map((item)=> $("#top").append(" <div class=\"col-md-4\">\n" +
                "                        <div class=\"card-wrap  w-100 d-flex flex-column justify-content-center \">\n" +
                "                            <img src=\"/images/icons/startup.svg\" alt=\"\">\n" +
                "                            <h1>"+item.fields.Name +"</h1>\n" +
                "                            <h2>{{player}}</h2>\n" +
                "                            <div class=\"circle d-flex align-items-end d"+index+"\">\n" +
                "                                <p>"+index+++os[index]+"</p>\n" +
                "                            </div>\n" +
                "                        </div>\n" +
                "                    </div>"))
        keys.map((item) => $("#keys").append("   <td class=\"keys-stroke\"><p>"+item+"</p></td>"))

    });
    let allparticipants = [];
    $.get('https://api.airtable.com/v0/appsZVlM0a7C9lACJ/react-native?api_key=keyqfoByFrvIArghp&sort%5B0%5D%5Bfield%5D=Total&sort%5B0%5D%5Bdirection%5D=desc&view=Grid+view',function (response) {
        allparticipants = response.records;
    }).then(()=> {
        allparticipants.map((item) => {
            let tdlist = item.fields;
            let string = "";
            $.each(tdlist, function(index, value) {
                let sv = function (data) {
                    return "<td>" +
                            "<p class=\"user-fields\">"+data+"</p>" +
                            "</td>"
                }
                string = string.concat(sv(value))
            });
            $("#list").append("<tr  class=\"user-cell\"> " +
                    ""+string+"" +
                    "</tr>")
        })
    });

    let options = {
        shouldSort: true,
        threshold: 0.6,
        location: 0,
        distance: 100,
        maxPatternLength: 32,
        minMatchCharLength: 1,
        keys: [
            "fields.Name",
        ]
    };
    let query ="";
    $("#fuse-se").change(()=> {
        query = $("#fuse-se").val();
        let result;
        if(query.length === 0){
            result = allparticipants;
        }
        else{
            let  fuse = new Fuse(allparticipants, options); // "list" is the item array
            result = fuse.search(query);
            $(".user-cell").remove();
        }

        result.map((item) => {
            let tdlist = item.fields;
            let string = "";
            $.each(tdlist, function(index, value) {
                let sv = function (data) {
                    return "<td>" +
                            "<p class=\"user-fields\">"+data+"</p>" +
                            "</td>"
                }
                string = string.concat(sv(value))
            });
            $("#list").append("<tr  class=\"user-cell\"> " +
                    ""+string+"" +
                    "</tr>")
        })
    })


</script>

</body>
</html>
