@import "fonts.scss";
html {
  width: 100%;
  height: 100%;
}
*{
  font-family: 'HelveticaNeueCyr-Light', sans-serif;

}



// 43.9% = 7px
@media (min-width: 320px) {
  html {
    font-size: 50.1%;
    //font-size: 43.9%;
  }
}

// 50.1% = 8px
@media (min-width: 768px) {
  html {
    //font-size: 56.3%;
    font-size: 50.1%;
  }
}

// 56.3% = 9px
@media (min-width: 992px) {
  html {
    //font-size: 62.5%;
    font-size: 56.5%;
  }
}

// 62.5% = 10px
@media (min-width: 1200px) {
  html {
    //font-size: 62.5%;
    font-size: 56.5%;
  }
}



body {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;

  ::-webkit-scrollbar {
    width: 9px;
    background-color: rgba(#929292, 0);
  }

  ::-webkit-scrollbar-track {
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(180, 180, 180, .8);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(130, 130, 130, .6);
    cursor: pointer;
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: rgba(130, 130, 130, .9);
    cursor: pointer;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input:focus::-webkit-contacts-auto-fill-button {
    display: none !important;
  }

}

//@import "functions";
//@import "variables";
//@import "mixins";
//@import "print";
//@import "reboot";
//@import "type";
//@import "images";
//@import "code";
//@import "grid";
//@import "tables";
//@import "forms";
//@import "buttons";
//@import "transitions";
//@import "dropdown";
//@import "button-group";
//@import "input-group";
//@import "custom-forms";
//@import "nav";
//@import "navbar";
//@import "card";
//@import "breadcrumb";
//@import "pagination";
//@import "badge";
//@import "jumbotron";
//@import "alert";
//@import "progress";
//@import "media";
//@import "list-group";
//@import "close";
//@import "modal";
//@import "tooltip";
//@import "popover";
//@import "carousel";
//@import "utilities";
