@import "config.scss";

$main: #f6f7fb;
$first: #da1073;
$second: #fd9d15;
$third: #0ea3dd;

.landing-main-page {
  overflow: hidden;
  overflow-y: auto;

  footer {
    height: 8rem;
    background-color: #F9F9F9;
    border-top: 2px solid darken(#F9F9F9, 15%);
    color: #606060;
  }
}

.header {
  height: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  img {
    height: 7rem;
    width: 7rem;
    @media (max-width: 798px) {
      height: 6rem;
      width: 6rem;
    }
  }
  .circle{
    position: absolute;
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
    right:-9rem;
    top:-9rem;
    background-color: #282c35;
    .first{
      width: 9rem;
      height: 9rem;
    }
    .imgw{
      padding-left: calc(9rem - 4.5rem - 2.8rem);
      padding-bottom: calc(9rem - 4.5rem - 2.8rem);
    }
    img{
      height: 4rem;
      width: 4rem;
    }
  }
}

.card-wrap {
  background-color: white;
  height: 18rem;
  border-radius: 5px;
  padding: 1.6rem;
  box-shadow: 0 0 10px #ccc;
  position: relative;
  overflow: hidden;
  @media (max-width: 798px) {
    margin-bottom: 2rem;
  }
  #top{
    width: 100%!important;
    @media (max-width: 798px) {
      width: auto!important;
    }
  }
  img {
    height: 4rem;
    width: 4rem;
    margin-bottom: 2rem;
  }

  .circle {
    position: absolute;
    height: 16rem;
    width: 16rem;
    top: -8rem;
    right: -8rem;
    border-radius: 50%;
    padding-left: 2.6rem;
    padding-bottom: 3rem;
    &.d1 {
      background-color: $first;
    }
    &.d2 {
      background-color: $second;
    }
    &.d3 {
      background-color: $third;
    }
    p {
      margin: 0;
      color: $main;
      font-size: 3rem;
    }
  }
}

.leaderboard {
  min-height: calc(100vh - 16rem);
  background-color: $main;
  padding-top: 3rem;
  padding-bottom: 4rem;
  padding-left: 6rem;
  padding-right: 6rem;
  @media (max-width: 798px) {
    padding: 2.1rem!important;

  }
  .table-wrap {
    padding: 0 !important;
    margin-top: 8rem;
    h2 {
      font-size: 2.6rem;
      font-family: HelveticaNeueCyr-Light;
      font-family: -apple-system, HelveticaNeueCyr-Light, "Lucida Grande", sans-serif;
      font-weight: 400;
      margin-bottom: 1.4rem;
      span {
        font-weight: 600 !important;
      }
    }
    .search-wrap {
      width: 100%;
      border: 1px solid #f6f7fb;
      border-radius: 8px;
      font-family: HelveticaNeueCyr-Ligth;
      font-family: -apple-system, HelveticaNeueCyr-Ligth, "Lucida Grande", sans-serif;
      font-size: 2.2rem;
      padding: 1.4rem;
      color: #959596;
      box-shadow: 0 0 8px #ccc;
      outline: none;
    }

  }
}

.lead-table::-webkit-scrollbar{
  display: none;
}
.lead-table {
  margin-top: 4rem;
  @media (max-width: 798px) {
    overflow: scroll;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .indicator{
    position: absolute;
    left: -1rem;
  }

  table {
    width: 100%;
    border-collapse:separate;
    border-spacing:0 10px;
  }
  .keys-stroke{
    background-color: transparent!important;
  }
  p {
    font-size: 2rem;
    color: #959596;
    font-family: "HelveticaNeueCyr-Light", sans-serif;
    font-family: -apple-system, HelveticaNeueCyr-Light, "Lucida Grande", sans-serif;

    margin: 0;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .user-fields{
    font-family: "HelveticaNeueCyr-Light", sans-serif;
    font-family: -apple-system, HelveticaNeueCyr-Light, "Lucida Grande", sans-serif;

    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    @media (max-width: 798px) {
      padding-top: 3.4rem;
      padding-bottom: 0;
    }
  }
  .ls-r{
    display: table-row;
  }
  .user-cell{
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;

  }
  td{
    background-color: white;
    @media (max-width: 798px) {
      min-width: 16rem;
      padding: 1rem;

    }
  }
  td:nth-child(1){
    padding-left: 2rem;
    @media (max-width: 798px) {
      padding-left:1rem;
    }
  }
  td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    @media (max-width: 798px) {
      position: absolute;
      background-color: transparent!important;
      p{
        padding: 0!important;
      }
    }
  }
  td:nth-child(2){
    @media (max-width: 798px) {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      margin-left: 3rem;
      position: absolute;
      background-color: transparent!important;
      p{
        padding: 0!important;
      }
    }
  }
  td:nth-child(3){
    @media (max-width:798px) {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
  td:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  #keys td:first-child{
    @media (max-width: 798px) {
      opacity: 0;
    }
  }
  #keys td:nth-child(2){
    @media (max-width: 798px) {
      opacity: 0;
    }
  }
}
.list-mobile::-webkit-scrollbar {
  display: none;
}
.list-mobile{
  width: 100%;
  overflow: scroll;

  .keys-mobile{
    ul{
      padding: 0!important;
      margin: 0!important;

      list-style-type: none;
      display: flex;
      li{

        padding: 1rem;
        min-width: 16rem;

      }
    }
  }
  .user-mobile{
    display: flex;
    flex-direction: column;
    min-height: 8rem;
    .sda{
      position: relative;
    }
    .ss{
      position: absolute;
      left: 1rem;
      top: 1.4rem;
      h3{
        font-family: HelveticaNeueCyr-Light;
        font-family: -apple-system, HelveticaNeueCyr-Light, "Lucida Grande", sans-serif;

        font-size: 2rem;
        color: #959596;
      }
    }
    .li{
     background-color: white;
      padding: 1rem;
      padding-top: 2.4rem;
      min-width: 16rem;
      p{
        padding-top: 2.4rem;
        padding-bottom: 0.5rem;
      }
    }
    .li:first-child{
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
}

